.sidebar {
  .ant-drawer-header {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 0;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .05);
    position: relative;
    z-index: 5;
    margin-bottom: 1rem;

    .top-logo {
      max-height: 100%;
      max-width: 64%;
    }
  }

  .ant-drawer-close-x {
    height: 60px;
    line-height: 60px;

    i {
      min-width: 18px;
      font-size: 18px;
      vertical-align: middle;
      background: #bfbfbf;
      color: #ffffff;
      padding: 6px;
      border-radius: 50%;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .ant-drawer-body {
    padding: 0;
    overflow-x: hidden;

    .ant-menu-inline {
      border: 0;

      .ant-menu-item {
        font-size: 16px;

        .anticon {
          min-width: 25px;
          font-size: 25px;
          margin-right: 1.1rem;
          vertical-align: middle;
        }
      }
    }
  }
}
